gems
puppet/.bundle/
puppet/Gemfile.lock
puppet/gems
.bundle
*.swp
modules/.DS_Store
.vagrant
.DS_Store
vendor/*
.librarian/
.tmp/
\*Puppetfile.lock\*
\*Gemfile.lock\*
vagrant-centos-7.1.box
Gemfile.lock
hiera/keys/
modules/icinga2/spec/reports/
centos*
modules/.DS_Store
spec/fixtures/modules/
**/*.un~
centos71
iso/*
ubuntu/packer_cache/*
*.iso
*.iso
*.box
*.pem
packer_cache/*

puppet/modules/nginx/ngifiles/server_test.crt
puppet/modules/nginx//files/server_test.pem
puppet/modules/nginx/pkg/
puppet/modules/nginx/log/
puppet/modules/nginx/Gemfile.lock
puppet/modules/nginx/spec/fixtures/modules
puppet/modules/nginx/spec/fixtures/manifests
puppet/modules/nginx/vendor
puppet/modules/nginx/.ruby-version
puppet/modules/nginx/.vagrant/
puppet/modules/nginx/.gitattributes
puppet/modules/nginx/.gitignore